mixin section-preset-01(name)
    unless name
        - name = 'section name'

    |<!-- #{name} -->
    section
        .container
            block section-header
                header
                    h3=name
                    p hello
            block section-content
                .section-content
                    p This is section content
            block section-footer
                footer
                    p section footer
    |<!-- end #{name} -->