-var data_team = [{ name:'Tom' , job : 'massage' , quote : 'lorem blaf lbak kasd hara make tuma oam' , age: '18'},{ name:'Tommy' , job : 'massage' , quote : 'lorem blaf lbak kasd hara make tuma oam' , age: '18'}]

mixin team-member1
    for
    h5= data_team[0].name
    p: i= data_team[1].job
    p= data_team[1].quote
